<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body><h1>Welcome to Bounce</h1>
    <img src="https://media.giphy.com/media/LpALgGQNZLzdm/giphy.gif" alt="Bouncy" height="300">

    <div>
      <form action="/edited_message/<%=@message.id%>" method="post">
        <textarea name="edit" cols="50" rows="5">
          <%=@message.content%>
        </textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>

       
