<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body><h1>Welcome to Bounce</h1>
    <img src="https://media.giphy.com/media/LpALgGQNZLzdm/giphy.gif" alt="Bouncy" height="300">
    <div>
      <%=@message.content%>
      <br>
      <br>
      <%=@message.time%>
      <br>
    </div>
    <p>
    <form action="/edit_message/<%=@message.id%>" method="get">
      <input type="submit" value="Edit Message"/>
    </form>
    </p>
    <p>
    <form action="/delete_message/<%=@message.id%>" method="post">
      <input type="submit" value="Delete Message"/>
    </form>
    </p>
  </body>
</html>
